<!DOCTYPE html>
<html>
<head>
	<title>Log In</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="login-page">
	  <div class="form">
	    <form class="login-form" name="login" method="POST" action="/login">
	      <input type="text" name="username" placeholder="username"/>
	      <input type="password" name="password" placeholder="password"/>
	      <button >login</button>
	      <br/> 
	      <p name="add"></p>
	      <p class="message">Not registered? <a href="/register">Create an account</a></p>
	      <br/>
	    </form>
	  </div>
	</div>
</body>
</html>