<!DOCTYPE html>
<html>
<head>
	<title>Invalid</title>
</head>
<body>
	<p>Login Details Invalid OR Invalid Details Filled</p>
	<br/> <br/> <br/>
	<p> Redirecting... </p>
	<form action="/" method="GET">
		<button> Click Here</button>
	</form>
</body>
</html>