<!DOCTYPE html>
<html>
<head>
	<title>Status</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<p>Successful payment</p>
	<br/> <br/> <br/>
	<p> Ticket No 22334455 </p>
	<br/> <br/> <br/>
	<p> Redirecting... </p>
	<form action="/" method="GET">
		<button>Click Here</button>
	</form>
</body>
</html>